<section id="about-me" class="mb-24">
  <h2 class="uppercase font-bold text-black dark:text-white mb-4 lg:hidden">
    About me
  </h2>
  <p class="mb-3">
    I am a long-time technologist. From the age of eleven, I was building PCs with
    my father. The web fascinated me as a teenager
    <a
      href="https://en.wikipedia.org/wiki/GeoCities"
      target="_blank"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400 transition-colors"
      >#GenerationGeoCities</a
    >. I have extensive experience in building software, coaching others and
    leading software teams, particularly in finance and data.
  </p>
  <p class="mb-3">
    Currently, I am working as an Engineering Manager for <a href="https://www.skyscanner.net"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400 transition-colors"
      target="_blank">Skyscanner</a>. I leading the squad that owns and operates the homepage,
    search and booking screens. We ensure that over 300m traveler visits per month are stable and fast.
  </p>
  <p class="mb-3">
    Recently, I contracted as a frontend and DevOps engineer for
    <a
      href="https://smeprofessional.co.uk/"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400 transition-colors"
      target="_blank"
      >Scotland's leading property management CRM</a
    >, in my home city of Edinburgh. So far, I have helped increase sales by
    over 50% by renovating their primary customer-facing UI, and improved
    development team efficiency by implementing automated CI/CD pipelines.
  </p>
  <p class="mb-3">
    I have been an Engineering Manager and Senior Engineering Manager at both
    <a
      href="https://spotify.com"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400 transition-colors"
      target="_blank"
      >Spotify</a
    >
    and
    <a
      href="https://natwest.com"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400 transition-colors"
      target="_blank"
      >NatWest</a
    >. I am grateful to have been privy to world-class leadership training. I
    have loved helping my teams grow, both personally and collectively.
  </p>
  <p class="mb-3 font-semibold text-slate-900 dark:text-slate-100">
    Taking voluntary redundancy in late 2023 afforded me a rare opportunity to
    pivot my career. With a decade of effective leadership under my belt, both
    my
    <i class="fa-solid fa-brain"></i> and <i class="fa-solid fa-heart"></i> said
    it is time to get coding again.
  </p>
</section>
