@keyframes fade-out {
  0% {
    opacity: 1;
    scale: 1;
  }
  99% {
    opacity: 0;
    scale: 0;
  }
  100% {
    display: none;
  }
}
.animate-fade-out {
  animation: 0.66s ease-in-out forwards fade-out;
}

@keyframes fade-in {
  0% {
    display: none;
  }
  1% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.animate-fade-in {
  animation: 0.66s ease-in-out forwards fade-in;
}
