<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}" class="scroll-smooth">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="icon" href="{{ "/assets/favicon.svg" | relative_url }}">
  <script
    src="https://kit.fontawesome.com/9d2e3172d6.js"
    crossorigin="anonymous"
  ></script>
</head>
<body class="bg-slate-300 text-lg text-slate-800 antialiased">
  <div class="lg:max-w-screen-lg lg:mx-auto">
    <div class="px-12 lg:px-0 lg:flex">
      <header class="lg:sticky lg:top-0 lg:h-dvh lg:w-1/2 pt-16">
        <h1 class="text-6xl mb-4">
          Hi, I'm
          <mark
            class="text-transparent bg-clip-text bg-gradient-to-br from-orange-500 to-purple-500"
            >Jonny</mark
          >.
        </h1>
        <h2 class="text-3xl mb-8">Fullstack Staff Engineer</h2>
        <div class="w-1/2 lg:w-2/3 mb-8 text-slate-800">
          I <strong class="font-semibold text-slate-950">build</strong> web
          apps; relentlessly
          <strong class="font-semibold text-slate-950">automate</strong> toil;
          <strong class="font-semibold text-slate-950">coach</strong>
          engineering teams; and help businesses
          <strong class="font-semibold text-slate-950">grow</strong>.
        </div>
        <ul>
          <li>About me</li>
          <li>Learning focus</li>
          <li>Professional experience</li>
          <li>Projects</li>
          <li>Qualifications</li>
        </ul>
        <ul class="flex gap-6 lg:absolute lg:inset-x-0 lg:bottom-16">
          {% for social in site.data.social-links %}
          <li>
            <a href="{{ social.url }}" target="_blank" class="text-blue-700"
              ><i class="fa-brands fa-{{ social.icon }} fa-2x"></i
            ></a>
          </li>
          {% endfor %}
        </ul>
      </header>
      <main class="py-16 lg:w-1/2">
        <section class="mb-24">
          <h2 class="lg:hidden">About me</h2>
          <p class="mb-3">
            SIGNPOST Lorem ipsum odor amet, consectetuer adipiscing elit.
            Natoque congue maecenas aliquam quam maximus eu vulputate fusce?
            Adipiscing eget quis congue elementum mauris sociosqu.
          </p>
          <p class="mb-3">
            CURRENT Lorem ipsum odor amet, consectetuer adipiscing elit. Integer
            tellus quam massa tristique nullam conubia quis. Id porttitor est,
            vestibulum mattis maecenas litora.
          </p>
          <p class="mb-3">
            PAST Lorem ipsum odor amet, consectetuer adipiscing elit. Natoque
            congue maecenas aliquam quam maximus eu vulputate fusce? Adipiscing
            eget quis congue elementum mauris sociosqu.
          </p>
          <p class="mb-3">
            PERSONAL Lorem ipsum odor amet, consectetuer adipiscing elit.
            Integer tellus quam massa tristique nullam conubia quis. Id
            porttitor est, vestibulum mattis maecenas litora.
          </p>
        </section>
        <section class="mb-24">
          <h2 class="lg:hidden">Learning focus</h2>
          <ul class="flex gap-4 flex-wrap">
            {% for learning in site.data.learning %}
            <li>
              <a
                href="{{ learning.url }}"
                target="_blank"
                title="{{ learning.name }}"
                style="background-image: url('/assets/tech-logos/{{ learning.logo-filename }}')"
                class="block rounded-md border-black bg-origin-padding border-2 h-16 aspect-square bg-center bg-cover bg-white"
              ></a>
            </li>
            {% endfor %}
          </ul>
        </section>
        <section class="mb-24">
          <h2 class="lg:hidden">Professional experience</h2>
          {% for job in site.data.professional-experience %}
          <div
            class="flex border-2 border-transparent hover:border-slate-400 hover:bg-slate-400 hover:shadow-sm p-2 rounded-md mb-4"
          >
            <div class="w-32 text-sm uppercase pt-1">{{ job.period }}</div>
            <div>
              <h3>{{ job.role }}, {{ job.company.name }}</h3>
              {% for past-role in job.past-roles %}
              <h3>{{ past-role }}</h3>
              {% endfor %}
              <div class="mb-4 text-sm">{{ job.description }}</div>
              <ul class="flex gap-2 flex-wrap">
                {% for tech in job.technologies %}
                <li
                  class="rounded-full bg-slate-500 text-xs p-2 text-slate-100"
                >
                  {{ tech }}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </section>
        <section class="mb-24">
          <h2 class="lg:hidden">Projects</h2>
          <div class="flex gap-4">
            <div class="rounded-md border-black border-2">Energy Balance</div>
            <div class="rounded-md border-black border-2">Gymsha.re</div>
          </div>
        </section>
        <section class="mb-24">
          <h2 class="lg:hidden">Qualifications</h2>
          {% for q in site.data.qualifications %}
          <div
            class="flex border-2 border-transparent hover:border-slate-400 hover:bg-slate-400 hover:shadow-sm p-2 rounded-md mb-4"
          >
            <div class="w-32 text-sm uppercase pt-1">{{ q.period }}</div>
            <div>
              <h3>{{ q.name }}, {{ q.provider.name }}</h3>
              <ul class="flex gap-2 flex-wrap">
                {% for module in q.modules %}
                <li
                  class="rounded-full bg-slate-500 text-xs p-2 text-slate-100"
                >
                  {{ module }}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </section>
        <section class="text-sm">
          Designed on-the-fly with
          <a
            href="https://code.visualstudio.com/"
            target="_blank"
            class="text-blue-700"
            >Visual Studio Code</a
          >. Built with
          <a href="https://jekyllrb.com/" target="_blank" class="text-blue-700"
            >Jekyll</a
          >
          and <a href="" target="_blank" class="text-blue-700">Tailwind CSS</a>.
          Deployed to
          <a
            href="https://pages.github.com/"
            target="_blank"
            class="text-blue-700"
            >GitHub Pages</a
          >
          with
          <a
            href="https://github.com/features/actions"
            target="_blank"
            class="text-blue-700"
            >GitHub Actions</a
          >.
        </section>
      </main>
    </div>
  </div>
</body>
